<div class="login-container">
    <div class="login">
        <span class="login-header">Log in</span>
        <input class="login-inputs" type="text" placeholder="Nombre de usuario">
        <input style="margin-top: 20px;" class="login-inputs" type="password" placeholder="Contraseña">
		<span class="login-forgot">¿Te has olvidado la contraseña? <a href="/login">Click aqui</a></span>
        <button class="login-button"><b>Iniciar sesión</b></button>
		<span style="margin-right: -10px; display: flex; justify-content: center; align-items: center;" class="login-forgot">¿Aún no tienes una cuenta? <a href="/login">Registrate</a></span>
    </div>
</div>
