<div class="login-container">
    <div class="login" [style]="clickRegister || clickForgot ? 'margin-right: 260vw; position: absolute' : ''">
        <span class="login-header">Log in</span>
        <form [formGroup]="requiredForm" novalidate>
            <input class="login-inputs" type="text" placeholder="Nombre de usuario">
            <input required minlength="4" style="margin-top: 20px;" class="login-inputs" type="password" placeholder="Contraseña">
            <div *ngIf="name.errors?.['required']">
                Password is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
                Name must be at least 4 characters long.
            </div>
            <span class="login-forgot">¿Te has olvidado la contraseña? <a class="auth-link" (click)="clickForgot = true">Click aqui</a></span>
            <button class="login-button"><b>Iniciar sesión</b></button>
        </form>
		<span style="display: flex; justify-content: center; align-items: center;" class="login-forgot">¿Aún no tienes una cuenta? <a class="auth-link" (click)="clickRegister = true">Registrate</a></span>
    </div>
    <div class="back-button" [style]="clickRegister || clickForgot ? 'margin-right: 280vw' : ''" (click)="clickRegister = false; clickForgot = false">
    </div>
    <div class="register" [style]="clickRegister ? 'margin-left: 0vw' : ''">
        <span class="login-header">Registrate</span>
        <input class="login-inputs" type="text" placeholder="Nombre de usuario">
        <input style="margin-top: 20px;" class="login-inputs" type="password" placeholder="Contraseña">
        <input style="margin-top: 20px;" class="login-inputs" type="password" placeholder="Repite la contraseña">
        <button class="login-button"><b>Registrarse</b></button>
    </div>
    <div class="forgot" [style]="clickForgot ? 'margin-left: 0vw' : ''">
        <span class="login-header">Recuperar contraseña</span>
        <input class="login-inputs" type="text" placeholder="Nombre de usuario">
        <button class="login-button"><b>Recuperar</b></button>
    </div>
</div>
