.prueba{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
    color: #fff;
}

.menu-icon{
	height: 35px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.nav-container{
	position: fixed;
	width: 15vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgb(23, 23, 23);
	transition: 0.5s;
	left: 0;
}