<div class="create-event-container">
    <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()" style="padding-bottom: 20px; width: 450px;" class="create-event" [style]="clickCreateEvent ? 'margin-left: 0vw' : ''">
        <span class="create-event-header">Create Event</span>
        <label style=" margin-bottom: 20px;">Title:<input formControlTitle="title" [ngClass]="{ 'is-invalid': submitted && createEventForm.controls.title.errors }" [style]="submitted && createEventForm.controls.title.errors ? 'outline: 1px solid #b30000;' : ''" type="text" placeholder="Title" ></label>
        <div *ngIf="submitted && createEventForm.controls.title.errors" class="validation-error">
            <div *ngIf="createEventForm.controls.title.errors.required">Is required</div>
        </div>
        <div style="width: 62%; display: inline-flex; justify-content: center; margin-bottom: 20px;">
            <div style="margin-right: 4%; display: flex; flex-direction: column; width: 62%;">
			<label style="width: 100%;">Description<input [style]="submitted && createEventForm.controls.description.errors ? 'outline: 1px solid #b30000;' : ''" formControlDescription="description" description="Description" [ngClass]="{ 'is-invalid': submitted && createEventForm.controls.description.errors }" type="text" placeholder="Description"></label>
            <div style="width: 100%; margin-top: 3px; margin-bottom: -16.6px; margin-left: 10px;" *ngIf="submitted && createEventForm.controls.description.errors" class="validation-error">
                <div *ngIf="createEventForm.controls.description.errors.required">Is required</div>
            </div>
            </div>
		</div>

   